
#logo {
    font-weight: 700 !important;
    color: #FF5A5F !important;
    display: block;
}

a:focus, a:hover{
    text-decoration: none;
}

#span_crear_cuenta {
    color: #FF5A5F !important;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

#h1_crear_cuenta {
    color: #484848 !important;
    font-weight: 300 !important;
    font-size: 32px !important;
    line-height: 40px !important;
    letter-spacing: -0.8px !important;
}

#text_header {

    color: #484848 !important;
    font-weight: 300 !important;
    font-size: 48px !important;
    line-height: 57px !important;
    letter-spacing: -0.8px !important;
}
#boton {
    font-weight: 700;
    color: #ffffff !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    border-radius: 4px !important;
    border: 0px !important;
    background: #FF5A5F !important;
    height: 47px !important;
    text-align: center !important;
    display: inline-block !important;
    white-space: nowrap !important;
    margin-top: 20px;
    margin-bottom: 10px;
}

#boton_no_anadir {
    font-weight: 700;
    color: #FF5A5F !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    border-radius: 4px !important;
    border: 1px solid #FF5A5F !important;
    background: transparent !important;
    height: 47px !important;
    text-align: center !important;
    display: inline-block !important;
    white-space: nowrap !important;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    color: #484848 !important;
    font-weight: 700;
}
body {
    font-size: 15px;
    color: #484848 !important;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #008489 !important;
}
label {
    font-size: 19px;
    font-weight: 500;
}
#copyright {
    font-weight: 200;
}

/* Estilo al placeholder e inputs del form */
.contenedor_input {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    border: 1px solid #DBDBDB !important;
    border-radius: 2px !important;
    background-color: #ffffff !important;
    margin-bottom: 16px !important;
    position: relative !important;
    overflow: hidden !important;
    display: block !important;
    width: 100% !important;
}


.estilo_input {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    font-weight: 300 !important;
    background-color: transparent !important;
    border: 0px !important;
    padding: 11px !important;
    width: 100% !important;
}

.errorlist {
    list-style-type: none;
    font-size: 15px;
    line-height: 24px;
    color: rgb(217, 57, 0);
    font-weight: bold;
    margin-left: -39px;
    margin-top: -12px;
    margin-bottom: 20px;

}
/* Estilo del simbolo de email */
.simbolo {
    right: 12px !important;
    padding-top: 11px !important;
    position: absolute !important;
}
.jumbotron {
    margin-bottom: 15px;
}

#direccion_restaurante {
    font-size: 15px;
    color: #666 !important;
}

#tipo_restaurante {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #939396;
    padding: 1px 6px;
    border: 1px solid #939396;
    border-radius: 2px;
}
#nombre_plato {
    font-size: 17px;
    font-weight: 400;
    color: #484848;
}

#h2nombre_restaurante {
    font-size: 21px;
}
.caja_restaurante {
    box-shadow: 0px 0px 10px 1px #b9b9b9;
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 5px 15px 10px;
    max-width: 600px;
}

#p_anadir_restaurante_1 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 55px;
    padding-bottom: 50px;
}
#p_anadir_restaurante {
    font-size: 18px;
    font-weight: 400;
}

#p_welcome {
    padding-top: 20px;
}

/* media queries */

@media (max-width: 600px) {

     /*Estilo para home*/
    #text_header {
        font-size: 34px !important;
        line-height: 47px !important;
    }
    #p_header {
        font-size: 19px;
    }

    /*Estilo para lista de restaurantes*/
    .caja_restaurante {
        padding: 2px 16px 1px;
    }
    #h2nombre_restaurante {
        font-size: 19px;
        margin-top: 10px;
        margin-bottom: 4px;
    }
    #direccion_restaurante {
        font-size: 10px;
        margin: 0 0 0px;
    }
    #tipo_restaurante {
        font-size: 12px;
    }
    hr {
        margin-top: 11px;
        margin-bottom: 7px;
    }

    #nombre_plato {
        font-size: 16px;
    }
    #p_tipo_restaurante {
        margin: 3px 0 6px;
    }
    #p_comentario {

        font-size: 15px;

    }

}
