{% extends "restaurant/base.html" %}

{% block head_title %}Añadir plato{% endblock %}

{% block header %}
    <h1 id="h1_crear_cuenta"><span id="span_crear_cuenta">Añade tu plato preferido de {{ restaurante.name }}</span> Puedes añadir más platos luego</h1>
{% endblock %}

{% block main %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="contenedor_input">
                    <input id="plato" class="estilo_input" type="text" name="plato" placeholder="Nombre del plato">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="contenedor_input">
                    <label>¿Quieres subir alguna foto para este plato?</label>
                    {{ fotos_plato_form.foto }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <button id="boton" class="btn btn-primary btn-lg" type="submit">Añadir plato</button>
                    <a id="boton_no_anadir" onclick="goPerfil()" class="btn btn-primary btn-lg">No quiero añadir plato ahora</a>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">

        function goPerfil(){
                var host = window.location.host;
                var protol = window.location.protocol;
                console.log(host);
                window.location.href= protol + '//' + host + '/' + '{{ user.username }}';
            }

    </script>

{% endblock %}