
<!-- hacer el view para que after signup le lleve a esta pagina. Pasarle el user -->

{% extends "restaurant/base.html" %}

{% block head_title %}Bienvenido a superplatos{% endblock %}

        <h1 id="h1_crear_cuenta">Hola <span id="span_crear_cuenta">{{ user.username }}!</span></h1>
        <p id="p_welcome">Welcome ;) </p>
        <p id="p_anadir_restaurante_1"><a href="{% url 'anadir-restaurante' %}">Haz click aquí para añadir tus restaurantes y platos preferidos a tu lista</a></p>
        <!-- meter frase de hipócrates de la comida -->
        <blockquote>"Que tu medicina sea tu alimento, y el alimento tu medicina." Hipócrates, para muchos el padre de la medicina</blockquote>

