{% extends "restaurant/base.html" %}

{% block head_title %}Home de Food Yeah{% endblock %}

{% block header %}
    <h1 id="text_header"><span id="logo">Superplatos</span> Guarda tus restaurantes y platos preferidos.</h1>
    <p>Superplatos está en beta. Muy pronto solo se podrá acceder con invitación.</p>
    <p><a id="boton" class="btn btn-primary btn-lg" role="button" href="{% url 'sign-up' %}">Añade tu primer restaurante/plato</a></p>
{% endblock %}

{% block main %}
    <div class="container">
    <h2>Últimas listas añadidas</h2>
    <p>Lista de <a href="Emilio"> <strong>Emilio </strong></a></p>
    <p><a href="{% url 'sign-in' %}">Log in</a></p>
    </div>
{% endblock %}
