{% extends "restaurant/base.html" %}

{% block head_title %}Home de Food Yeah{% endblock %}

{% block content %}
    <h1>Guarda tus platos preferidos y si quieres compártelos</h1>
    <p>Ya somos {{prueba}} miembros. Solo se puede acceder con invitación</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'restaurant-sign-in' %}">Accede con tu invitación</a></p>
<p>Puedes ver <a href="mis-platos-preferidos"> una lista con los últimos <strong>platos preferidos</strong></a></p>
{% endblock %}