{% extends "restaurant/base.html" %}

{% block head_title %}Home de Food Yeah{% endblock %}

{% block content %}
    <h1>Guarda tus platos preferidos y si quieres compártelos</h1>
    <p>Ya somos {{prueba}} miembros. Solo se puede acceder con invitación.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'restaurant-sign-in' %}">Solicitar invitación</a></p>
<p>Estos son los últimos <a href="mis-platos-preferidos"> <strong>platos guardados en Madrid</strong></a></p>
{% endblock %}