{% extends "restaurant/base.html" %}

{% block head_title %}Últimos platos añadidos{% endblock %}

{% block content %}

        {% for usuario in usuarios %}
            <h1>Los preferidos de {{usuario.user}}</h1>

            {% for restaurante in usuario.restaurants.all %}

                <h3><a href="tel: {{restaurante.phone}}">{{restaurante.name}}</a> | {{restaurante.tipo}} | {{ restaurante.address }}</h3>

                {% for comentario in comentarios %}
                    {% if comentario.user|slugify == usuario.user|slugify and comentario.restaurante|slugify == restaurante.name|slugify %}
                        <p>{{ comentario }}</p>
                    {% endif %}
                {% endfor %}

                {% for plato in usuario.platos.all %}
                    {% if restaurante.name|slugify == plato.restaurante|slugify %}
                        <p>{{plato.plato}} {% if plato.precio %} | Precio: {{ plato.precio }}€{% endif %}</p>
                        {% if plato.foto %}
                            <a href="{{ plato.foto.url }}">
                                <img src="{{ plato.foto.url }}" width="80" height="80" alt="foto de {{plato.plato}}"/>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            {% endfor %}

        {% endfor %}

    <a href="{% url 'prueba-form' %}">Puedes añadir tu plato preferido</a>

{% endblock %}
