{% extends "restaurant/base.html" %}

{% block head_title %}Últimos platos añadidos{% endblock %}

{% block header %}
        <h1 id="h1_crear_cuenta">Los preferidos de <span id="span_crear_cuenta">{{ user.username }}</span> </h1>
        <!-- esto solo debería salir si el usuario logeado es == al usuario de la lista -->
        <p id="p_anadir_restaurante"><a href="{% url 'anadir-restaurante' %}">Añadir restaurante/plato</a> </p>
{% endblock %}

{% block main %}

        {% for restaurante in restaurantes reversed %}
            <div class="caja_restaurante">
                <h2 id="h2nombre_restaurante"><a href="tel: {{restaurante.phone}}">{{restaurante.name}}</a></h2>
                <p id="direccion_restaurante">{{ restaurante.address }}</p>
                <p id="p_tipo_restaurante"><span id="tipo_restaurante">{{restaurante.tipo}}</span></p>

                {% for comentario in comentarios %}
                    {% if comentario.restaurante.id == restaurante.id %}
                        <p id="p_comentario">{{ comentario }}</p>
                    {% endif %}
                {% endfor %}
                <hr>

                {% for plato in platos %}
                    {% if restaurante.id == plato.restaurante.id %}
                        <p id="nombre_plato">{{plato.plato}} {% if plato.precio %} | Precio: {{ plato.precio }}€{% endif %}</p>
                        {% if plato.foto %}
                            <a href="{{ plato.foto.url }}">
                                <img src="{{ plato.foto.url }}" width="80" height="80" alt="foto de {{plato.plato}}"/>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}



{% endblock %}
